*{
    font-family: Bahnschrift;
}
.inner{
    height: 400px;
    width: 400px;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: black;
    margin: 10px;
    color: white;
}
.inner:hover{
    box-shadow: 1px 1px 25px orange;
    transition-duration: 200ms;
}
.menu{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.master{
    border: 5px solid black;
    background-color: black;
    color: orange;
    border-radius: 20px;
    height: 90%;
    flex-wrap: wrap;
}
body{
    background-color: orange
}
button{
    background-color: black;
    color:orange;
    border: 2px solid orange;
}
.form{
    text-align: center;
}
.subtotal{
    text-align: start;
}
.add{
    border-radius: 10px;
    border: 1px solid black;
    background-color: orange;
    color: black;
}
p{
    color:aliceblue;
}
.inventory{
    border: 2px solid orange;
    border-radius: 10px;
    width: 500px;
}
.lastContainer{
    display: flex;
    justify-content: center;
}
#forInit{
    border-radius: 10px;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    align-items: end;
    align-self: flex-end;
}
li{
    display: flex;
    align-items: center;
}
.budget{
    display: flex;
    justify-content: center;
}
.opening{
    display: flex;
    justify-content: center;
}
.outer1{
    display: flex;
    justify-content: center;
}
.intro{
    display: flex;
    flex-direction: column;
}
.opening2{
    border: 2px solid azure;
    width: 900px;
    align-self: center;
    padding: 20px;
}
form{
    margin-top: 20px;
}